.complete-button{
    background-color:#008000;
    border: none;
    color: white;
}
.complete-button:hover{
    background-color:#0F4D0F;
    color: white;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }    
}

.rotate-on-click{
    display: inline-block;
    animation: rotate 0.40s ease-out;
    transform-origin: center;
}